<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../../static/css/foundation.min.css">
        <link rel="stylesheet" href="../../static/css/app.css">
        <title>Create Poll</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <p>Will your poll have specific options?</p>
            <p><input type="radio" value=1 name="has_options">Yes</p>
            <p><input type="radio" value=0 name="has_options">No</p>
            <input type="hidden" name="id" value="{{room}}" id="id">
            <form action="/create" method="POST" id="poll">
            </form>
            <div id="buttons"></div>
        </div>
    </body>
    <script src="../../static/js/create_poll.js"></script>
</html>